<header class="nav group">

  <div class="nav-logo">
    <img src="#" alt="Seance Icon" class="nav-logo-icon"></img>
    <img src="#" alt="Seance" class="nav-logo-text"></img>
  </div>

  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Top Stories</a></li>
    <li><a href="#">Bookmarks</a></li>
  </ul>

  <ul class="nav-tools">
    <li class="nav-tools-search">
      <img>icon</img>
      <input type="text" placeholder="Search Seance">
    </li>
    <li>
      <button>Write a Story</button>
    </li>
    <li>
      <button>icon</button>
    </li>
  </ul>

</header>
