// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// COLORS
$grey-background: #FAFAFA;
$white-background: #FFFFFF;
$grey-border: #EFEFEF;
$grey-link: #a8a8a8;
$text: #505050;
$green-text: #2dcb7f;
$heading-text: #373737;
$button-border: #dedede;
$facebook: #3B5998;

@font-face {
  font-family: 'apparatus';
  src: asset-url('fonts/apparatus.ttf')
}


// RESET ///////////////////////////////////////////////////////////
body, h1, h2, header, div, img, ul, li, input, button, div, a, strong {

  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  box-sizing: border-box;
  text-align: inherit;
  text-decoration: none;
  vertical-align: inherit;
  color: inherit;
  background-color: transparent;
  letter-spacing: .04em;
}

li {
  list-style: none;
}

p {
  font-family: 'Lora', serif;
  line-height: 1.5;
  font-size: 17px;
  color: $text;
}

h1, h2, h3, strong {
  font-family: sans-serif;
}

.nav-logo, a, button, .nav-tools-search > img {
  cursor: pointer;
}

//CLEARFIX /////////////////////////////////////////////////////////
.group:after {
  content: "";
  display: block;
  clear: both;
}

//MODAL///////////////////////////////////////////////////////////

.modal-button {
  display: block;
  margin: 10px auto;
  color: $green-text;
  background-color: $grey-background;
}

.modal > h1 {
  font-size: 36px;
  display: block;
  margin: 0px auto;
  padding: 15px 0;
  text-align: center;
  color: $text;
}

.seance-modal-logo {
  content: asset-url("seanceLogo.svg");
  display: block;
  margin: 0px auto;
  width: 75px;
  padding-bottom: 15px;
}

.modal-button-facebook {
  display: block;
  padding-right: 25px;
  margin: 10px auto;
  background-color: $facebook;
  color: $white-background;
  .facebook-logo {
    margin: 0 10px -2px 10px;
    width: 15px;
    content: asset-url("FB-f-Logo__white_29.png");
  }
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

//MAIN ////////////////////////////////////////////////////////////
body {
  font-family: sans-serif;
  background-color: $grey-background;
}

.nav {
  position: relative;
  background-color: $white-background;
  border-bottom: 1px solid $grey-border;
}

.nav-logo {
  display: block;
  float: left;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 20px;
}

strong {
  font-size: 20px;
  font-weight: 300;
  display: block;
  float: right;
  padding-top: 5px;
  padding-left: 20px;
}

.nav-logo-icon {
  content: asset-url('seanceLogo.svg');
  margin-top: -5px;
  width: 30px;
}

.nav-logo-text {
  // image coming soon change with asset-url
  content: "Seance";
  width: 80px;
  display: block;
  margin-top: -5px;
  padding-left: 15px;
}

.nav-links {
  display: inline-block;
  padding-left: 7%;
  min-width: 375px;
  color: $grey-link;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 14px;

  li {
    float: left;
    :hover {
      color: $text;
    }
    a{
      display: block;
      padding: 25px 20px 20px 20px;
    }
  }
}

.nav-tools {
  display: block;
  float: right;
  text-align: right;
  li {
    float: left;
    margin: 15px 10px 5px 0px;
  }
  input {
    padding-left: 15px;
  }
}

.nav-tools--login {
  border: 1px solid $green-text;
  color: $green-text;
}

button, .nav-tools-search {
  text-align: left;
  border: 1px solid $button-border;
  padding: 10px;
  border-radius: 20px;
  color: $grey-link;
  font-weight: lighter;
  font-size: 14px;
  input {
    width: 125px;
  }

}

@media only screen and (max-width: 1024px){
  .nav-tools-search > input {
    display: none;
  }
  .nav-links {
    padding-left: 4%;
    overflow: hidden;
    min-width: 0;
  }
}
@media only screen and (max-width: 850px){
  .nav-links {
    position: absolute;
    display: block;
    top: 50px;
    left: 5%;
  }
}



@media only screen and (max-width: 768px){
  .nav-tools--login > span {
    content: "Account";
  }
  .nav-logo > strong {
    display: none;
  }
  .nav-logo-icon {
    margin-top: -7px;
  }
}

@media only screen and (max-width: 420px){
  .nav-tools--write {
    display: none;
  }
}

.nav-tools-search  img {
  content: asset-url('search.svg');
  width: 16px;
  vertical-align: bottom;
}

.articles {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

.article-container{
  background-color: $white-background;
  border: 1px solid $grey-border;
  padding: 25px;
  margin-bottom: 10px;
}

.article-header {
  ul {
    float: left;
  }
  padding-bottom: 10px;
}

.article--info-author {
  color: $green-text;
  font-size: 14px;
}
.article--info-content {
  font-weight: lighter;
  font-size: 12px;
  color: $grey-link;
}

.article-content:hover {
  cursor: pointer;
}

.article-content > h2{
  font-weight: 600;
  font-size: 28px;
  color: $heading-text;
}

//LOGIN MODAL FORM ///////////////////////////////////////////

.login-form {
  background-color: $grey-background;
  border: 1px solid $grey-border;
  border-radius: 4px;
  padding: 20px;
  width: 250px;
  height: 600px;

  label, input {
    display: block;
    margin: 5px 0;
  }

  input {
    background-color: white;
  }
}
