// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// COLORS

$grey-background: #FAFAFA;
$white-background: #FFFFFF;
$grey-border: #EFEFEF;
$grey-link: #a8a8a8;
$text: #505050;
$green-text: #2dcb7f;
$heading-text: #373737;
$button-border: #dedede;
$facebook: #3B5998;
$error-red: rgb(166, 49, 49);

@font-face {
  font-family: 'apparatus';
  src: asset-url('fonts/apparatus.ttf')
}

// RESET ///////////////////////////////////////////////////////////
html, body {
  height: 100%;
  min-height: 100%;
}

#seance {
  height: 100%;
}

.seance-container {
  height: 100%;
}

body, h1, h2, header, div, img, u, ul, li, input, textarea, button, div, a, strong {

  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  box-sizing: border-box;
  text-align: inherit;
  text-decoration: none;
  vertical-align: inherit;
  color: inherit;
  background-color: transparent;
  letter-spacing: .04em;
}

textarea, input {
  resize: none;
  width: 100%;
}

body {
  font-family: sans-serif;
  background-color: $grey-background;
}

li {
  list-style: none;
}

p, blockquote {
  font-family: 'Lora', serif;
  line-height: 1.5;
  font-size: 20px;
  color: $text;
}

blockquote {
  font-size: 24px;
  font-weight: lighter;
}

h1, h2, h3, strong, i, blockquote {
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
  color: $heading-text;
}

u {
  border-bottom: 1px solid $green_text;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

i {
  font-size: 19px;
  font-weight: 300;
}

.nav-logo, a, button, .nav-tools-search > img {
  cursor: pointer;
}

//CLEARFIX /////////////////////////////////////////////////////////
.group:after {
  content: "";
  display: block;
  clear: both;
}


.nav-tools-search  img {
  content: asset-url('search.svg');
  width: 16px;
  vertical-align: bottom;
}

///NAV///////////////////////////////////////////////////
.nav {
  position: relative;
  background-color: $white-background;
  border-bottom: 1px solid $grey-border;
  height: 70px;
}

.nav-logo {
  display: block;
  float: left;
  vertical-align: top;
  padding: 20px 0 0 20px;
  .nav-logo-text {
    vertical-align: sub;
    font-size: 20px;
    font-weight: 300;
    display: block;
    float: right;
    padding-top: 5px;
  }
}

.nav-logo-icon {
  content: asset-url('seanceLogo.svg');
  margin-top: -7px;
  width: 30px;
}

.nav-logo-icon:hover {
  content: asset-url('seanceGreen.svg');
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.nav-tools--profile {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  border-radius: 50%;
  margin: -5px;
}

img.avatar {
  border-radius: 50%;
  width:48px;
  content: asset-url('avatar.svg')
}

.nav-logo-text {
  // image coming soon change with asset-url
  content: "Seance";
  width: 80px;
  display: block;
  margin-top: -5px;
  padding-left: 15px;

  strong:hover {
  color: $green-text;}
}

.nav-links {
  display: inline-block;
  padding-left: 7%;
  min-width: 375px;
  color: $grey-link;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 14px;

  li {
    float: left;
    :hover {
      color: $text;}

    a{
      display: block;
      padding: 30px 20px 20px 20px;}
  }
}

.nav-tools {
  display: block;
  float: right;
  text-align: right;

  li {
    float: left;
    margin: 15px 10px 5px 0px;}

  input {
    padding-left: 15px;}
}

.nav-tools--login {
  border: 1px solid $green-text;
  color: $green-text;
}

.nav-tools--write {
  a {
    display: block;
    text-align: left;
    border: 1px solid $button-border;
    padding: 10px;
    border-radius: 20px;
    color: $grey-link;
    font-weight: lighter;
    font-size: 14px;}
}

.nav-tools--write > a:hover {
  color: $green_text;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  cursor: pointer;
}

.nav-write--publish {
  button {
  border: 1px solid $green-text;
  color: $green-text; }

  button:hover {
    border: 1px solid rgb(56, 171, 102);
    color: rgb(56, 171, 102);
    -webkit-transition: 300ms;
    transition: 300ms; }
}

.nav-write--delete {
  button:hover {
    border: 1px solid $text;
    color: $text;
    -webkit-transition: 300ms;
    transition: 300ms;}
}

button, .nav-tools-search {
  text-align: left;
  border: 1px solid $button-border;
  padding: 10px;
  border-radius: 20px;
  color: $grey-link;
  font-weight: lighter;
  font-size: 14px;

  input {
    width: 125px;}
}

//MODAL///////////////////////////////////////////////////////////

.modal-button {
  display: block;
  margin: 10px auto;
  color: $green-text;
  background-color: $white-background;
  width: 225px;
  text-align: center;
}

.modal-button:hover {
  color: $green-text;
  background-color: rgb(237, 237, 237);
  -webkit-transition: background-color 700ms;
  transition: background-color 700ms;
}

button.guest {
  display: block;
  margin: 10px auto;
  color: rgb(71, 97, 89);
  background-color: rgb(191, 255, 211);
  width: 225px;
  text-align: center;
  font-weight: lighter;

  .seance-login {
    margin: -10px 10px -2px 0px;
    width: 12px;
    content: asset-url('seanceGreen.svg');}
}

.guest:hover {
  background-color: $green-text;
  color: $white-background;
  -webkit-transition: background-color 700ms;
  transition: background-color 700ms;

  .seance-login {
    content: asset-url('seanceWhite.svg');}
}

.facebook {
  background-color: $facebook;
  color: $white-background;

  .facebook-logo {
    margin: 0 10px -2px 0px;
    width: 15px;
    content: asset-url("FB-f-Logo__white_29.png");}
}
.facebook:hover {
  background-color: #1d3679;
  color: $white-background;
  -webkit-transition: background-color 700ms;
  transition: background-color 700ms;
}

.modal > h1 {
  font-size: 36px;
  display: block;
  margin: 0px auto;
  padding: 15px 0;
  text-align: center;
  color: $text;
}

.seance-modal-logo {
  content: asset-url("seanceLogo.svg");
  display: block;
  margin: 0px auto;
  width: 75px;
  padding-bottom: 15px;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

//RESPONSIVE///////////////////////////////////////////
@media only screen and (max-width: 1024px){
  .nav-tools-search > input {
    display: none;}

  .nav-links {
    padding-left: 4%;
    overflow: hidden;
    min-width: 0;}
}

@media only screen and (max-width: 850px){
  .nav-links {
    position: absolute;
    display: block;
    top: 57px;
    left: 5%;}

  button.modal--exit {
    display: block;
    position: absolute;
    right:10px;
    top: 10px;
    float: right;
    font-size: 18px;
    border: none;}
}

@media only screen and (max-width: 768px){
  .nav-tools--login > span {
    content: "Account";}

  .nav-logo strong {
    display: none;}

  li.nav-tools--write {
    display: none;}

  .nav-logo-icon {
    margin-top: -7px;}

  p {
    overflow-x: hidden;
  }
}

.articles {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;

  p {
    font-size: 17px;}
}

.article-container{
  background-color: $white-background;
  border: 1px solid $grey-border;
  padding: 25px;
  margin-bottom: 10px;
  overflow: hidden;
  p {
    max-height: 400px;
    overflow: hidden;
  }
}

.article-header {
  padding-bottom: 10px;

  ul {
    float: left;}
}

.article--info-author {
  color: $green-text;
  font-size: 14px;
}

.article--info-content {
  font-weight: lighter;
  font-size: 12px;
  color: $grey-link;
}

.article-content:hover {
  cursor: pointer;
}

.article-content > h2{
  font-weight: 600;
  font-size: 28px;
  color: $heading-text;
}

//LOGIN MODAL FORM ///////////////////////////////////////////
.modal--exit {
  //see @media for when it is displayed
  display: none;
}

.login-form {
  border-radius: 4px;
  padding: 20px;
  padding-top: 100px;
  width: 240px;
  height: 200px;

  input {
    border-bottom: 1px solid $green-text;
    width: 200px;
    margin: 15px auto;
    display: block;
    font-weight: lighter;}

  input.submit {
    border: 1px solid $green-text;
    padding: 10px;
    border-radius: 20px;
    font-weight: lighter;
    text-align: center;
    color: $text;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 40px;
    cursor: pointer;}

  .error {
    border-bottom: 1px solid $error-red;}

  .form-errors {
    padding-top: -50px;
    padding-left: 20px;
    font-size: 13px;
    color: $error-red;
    line-height: 1.5;}
}

//ARTICLE SHOW ///////////////////////////////////////////////

.article-show-container {
  background-color: $white-background;
  display: block;
  padding-top: 50px;

  p {
    max-width: 100%;
    img {
      transform: translate(-25%, 0%);
      height: auto;
    }
  }

  .article-header {
    max-width: 750px;
    margin: 0 auto;
    padding: 0px 25px;}

  .content {
    max-width: 750px;
    margin: 0 auto;
    padding: 50px 25px;

    h1 {
      padding-bottom: 50px;}
  }

}

//AUTHOR PROFILE ///////////////////////////////////////////////////////

.author-container {
  padding-bottom: 50px;
  margin: 0 auto;

  .author-content-background {
    background-color: $white-background;}

  .author-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;}

  .author-content > button {
    padding: 0;
    border: none;
    margin-right: 15px;}

  .author-content > button:hover {
    border: none;
    color: $text;
    transition: 500ms;}

  h2 {
    font-size: 32px;
    font-weight: 700;
    color: $heading-text;}

  h3 {
    font-size: 14px;
    color: $green_text;}

  h4 {
    font-size: 14px;
    color: $text;
    font-weight: 300;}

  .latest-articles--header {
    font-size: 20px;
    color: $text;}

  .author-articles-container:last-child {
    max-width: 800px;}

  .author-articles-container {
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 25px;
    p {
      max-height: 250px;
      overflow: hidden;
      img {
        transform: translate(-25%, -25%);
        height: auto;}
    }


    h1 {
      padding: 50px 0;}

    .articles--type-selector {
      padding-bottom: 25px;
      border-top: 1px solid $grey_border;

      li:hover {
        color: $text;
        cursor: pointer;}

      li {
        float: left;
        color: $grey-link;
        padding: 15px 20px 0 0;
        font-weight: lighter;}

      li.active {
        margin-top: -1px;
        border-top: 1px solid $text;
        color: $text;}
      }
    }

  .articles-list h3 {
    display: block;
    margin: 0;
    font-size: 24px;
    color: $heading-text;}

  .articles-list > article {
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid $grey-border;}

  .articles-list > article:last-child {
    border-bottom: none;
    padding-bottom: 50px;}

  .articles-list {
    a{
      display: block;
      padding: 50px 0;
      color: $grey-link;
      font-size: 24px;
      font-weight: bold;
      font-family: sans-serif;}

     a:hover {
      color: $text;}
  }

  .article-options > li {
    float: left;
    border: none;
    padding-right: 15px;
    height: 15px;}

  .article--edit > a, .article--delete > button{
    border: none;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: lighter;
    color: $green-text;}

  .save-animation {
    color: $green-text;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: progress;}
}

.author-show-article--content {
  max-width: 450px;
  word-wrap: break-word;
}

.author-edit-form {
  :focus{
    background-color: #d3fee9;
  }
  button {
    border: none;
    padding: none;}
}


//ARTICLE NEW ///////////////////////////////////////////////////////

.article-create-container {
  width: 100%;
  background-color: $white-background;
  min-height: 100%;}

.article-create-content {
  margin: 0 auto;
  max-width: 750px;
  padding: 50px 25px;

  .article-header {
    padding-bottom: 25px;
    font-weight: 400;}
}

.article--info-save-status {
  color: $grey_link;
  float: right;
  font-weight: lighter;
  font-size: 14px;

}

.article-create-form {

  .title {
    display: block;
    font-size: 32px;
    font-weight: 600;
    color: $heading-text;
    padding-bottom: 25px;}

  .body {
    display: block;
    font-family: 'Lora', serif;
    line-height: 1.5;
    font-size: 20px;
    color: $text;

    :first-child{
      margin-top: 0;}
  }

}
